body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: greenyellow;
  background-color: black;
}

a {
  color: rebeccapurple;
}

p {
  font-family: "Courier New", Courier, monospace;
}
